[Desktop Entry]
Version=1.0
Type=Application
Name=Email-ripper
Comment=
Exec=bash-wrapper 'python3 /opt/email-osint-ripper/eo-ripper.py'
Icon=mailspring-tray-full
Path=
Terminal=true
StartupNotify=false
